* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/********** Header **********/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    align-items: center;
    width: 200px;
    padding: 16px;
    position: relative;
  }
}

/********** Main **********/
/********** Search box **********/
.search-box {
  @include flex-center;
  width: 100%;
  height: 48px;
  gap: 16px;
  background: #EAEAEA;

  &__icon {
    width: 12px;
    height: 16px;
  }

  &__text {
    background: transparent;
    border: none;
    font-size: 1rem;
    width: 116px;
  }
}

/********** Hero header **********/
.hero-header {
  @include flex-center;
  flex-direction: column;
  background-color: $main-background;

  h1 {
    @include section-title;
    text-align: center;
    padding-bottom: 16px;
  }

  p {
    @include p-style;
    font-size: 1.125rem;
    text-align: center;
    color: $grey;
  }

  &__btn {
    @include btn-style;
    padding: 16px 24px;
    margin-top: 32px;
    margin-bottom: 56px;
  }

  &__btn:hover {
    @include btn-style-hover;
  }

}

/********** Functioning section **********/
.funct {
  @include flex-column;
  background-color: $white-content;
  gap: 24px;
  padding-bottom: 64px;
  width: 100%;

  h2 {
    @include section-title;
    margin-left: 24px;
  }

  &__list {
    @include flex-column;
    @include flex-center;
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
    width: calc(100% - 48px);
    height: 72px;
    background-color: $main-background;
    border-radius: 20px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);

    &--icon {
      margin-right: 24px;
      font-size: larger;
    }

    &--nmb {
      position: relative;
      right: 16px;
      font-size: smaller;

      .fa-circle {
        color: $primary-color;
      }

      .fa-1,
      .fa-2,
      .fa-3 {
        color: $white-content;
      }
    }
  }

  i {
    color: $second-grey;
  }

  &__item:hover {
    .funct__item--icon {
      color: $primary-color;
    }
  }
}


/********** Restaurants section **********/
.restaurants {
  @include flex-column;
  height: auto;
  background-color: $main-background;
  padding: 0 16px;
  gap: 24px;

  h2 {
    @include section-title;
  }

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin: 0 0 64px 0;
    gap: 16px;
  }

  li {
    margin: auto;
  }

  figure {
    position: relative;
  }

  &__label {
    @include flex-center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 29px;
    background-color: #99E2D0;
    color: #008766;
    border-radius: 2px;
  }

  &__card {
    @include flex-column;
    width: 346px;

    img {
      display: flex;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
      width: 100%;
      height: 174px;
    }

    figcaption {
      @include flex-column;
      width: 100%;
      border-radius: 0 0 16px 16px;
      background-color: $white-content;
      padding: 16px;
      line-height: 24px;
      height: 78px;

      figure {
        position: relative;
        align-self: end;
        left: 24px;
        bottom: 36px;
        @include icon-style;

        .fa-solid {
          position: relative;
          right: 31.7px;
          color: transparent;
        }

        &:hover {
          @include icon-gradient;
        }
      }

      h3 {
        @include card-title;
      }

      p {
        @include p-style;
      }
    }
  }
}

/********** Footer **********/
.footer {
  @include flex-column;
  background-color: $grey;
  padding: 24px;
  gap: 16px;
  color: $white-content;

  &__logo {
    display: flex;
    width: 30%;
    color: $white-content;
    font-family: 'Shrikhand';
    font-size: 1.1rem;
  }

  &__list {
    @include flex-column;
    gap: 8px;
  }

  &__link {
    @include p-style;
    color: $white-content;

    i {
      margin-right: 8px;
      font-size: small;
      width: 16px;
    }
  }
}

/****** Media queries ***********/
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .restaurants {
    ul {
      flex-flow: row wrap;
    }
  }
}

/* large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  main {
    background-color: $main-background;
    @include flex-column;
    @include flex-center;

    .funct {
      &__list {
        flex-direction: row;
        padding-left: 100px;
        padding-right: 100px;
        background-color: $white-content;
        width: 100%;
      }
    }

    .restaurants {
      width: 80%;

      ul {
        flex-flow: row wrap;
      }
    }
  }
}