* {
  font-family: 'Roboto', sans-serif, 'Shrikhand';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/********** Header **********/
.header {
  bottom: 1rem;

  &--menu {
    position: relative;
    max-height: 3.938rem;

    &__icon {
      position: relative;
      top: 2.4rem;
      right: 9rem;
      font-size: 1.2rem;
      color: $black-content;
    }
  }
}

/********** Main **********/
.menu-cnt {
  @include flex-column;
  align-items: center;
  background-color: $main-background;

  &__img {
    width: 100%;
    height: 17.188rem;
  }

  &__art {
    @include flex-column;
    gap: 40px;
    position: relative;
    bottom: 2.5rem;
    width: 100%;
    padding: 40px 16px 0 16px;
    border-radius: 40px 40px 0px 0px;
    background: $main-background;

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-family: 'Shrikhand';
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
      }

      figure {
        position: relative;
        align-self: end;
        @include icon-style;

        .fa-regular {
          position: absolute;
          top: 7px;
        }

        .fa-solid {
          color: transparent;
        }

        &:hover {
          @include icon-gradient;
        }
      }
    }

    &--sct {
      @include flex-column;
      gap: 16px;

      h2 {
        width: 40px;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 5px;
      }

      ul {
        @include flex-column;
        gap: 16px;

        li {
          @include card-style;
          display: flex;
          justify-content: space-between;

          section {
            @include flex-column;
            gap: 2px;
            padding: 16px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            h3 {
              font-size: 1.125rem;
              font-weight: 500;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            p {
              @include p-style;
              font-size: 0.950rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          b {
            align-self: flex-end;
            padding: 16px 12px;
            font-size: 0.950rem;
            font-weight: 700;
            color: $grey;
          }

          i {
            display: none;
          }

          &:hover {
            i {
              display: inline-block;
              text-align: center;
              color: $white-content;
              background: $tertiary-color;
              width: 20%;
              position: relative;
              border-radius: 0 15px 15px 0;
              padding: 29px 16px;
            }

            ;
          }
        }
      }
    }
  }

  button {
    padding: 16px 48px;
    margin-bottom: 40px;
    @include btn-style;
    border: none;
  }

  button:hover {
    @include btn-style-hover;
  }
}

/****** Media queries ***********/
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .menu-cnt {
    &__art {
      margin-left: 100px;
      margin-right: 100px ;
    }
  }
}
