@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin btn-style {
    font-size: 1rem;
    font-weight: 500;
    height: 50px;
    border-radius: 25px;
    color: $white-content;
    background: linear-gradient(0deg, $primary-color, $secondary-color);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin btn-style-hover {
    filter: opacity(0.8);
}

@mixin card-style {
    border-radius: 15px;
    background-color: $white-content;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
}

@mixin section-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 42px;
}

@mixin p-style {
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #000000;
}

@mixin card-title {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

@mixin icon-style {
    padding: 5px;
    font-size: x-large;
    color: $black-content;
    transition: transform 400ms;
}

@mixin icon-gradient {
    background: -webkit-linear-gradient(0deg, $primary-color, $secondary-color);
    background: linear-gradient(0deg, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
}